article {
  scroll-padding-top: 20px;
  /* scroll-behavior: smooth; */
}
.comments {
  padding: 0 25px;
  margin-bottom: 25px;
}
.link .comments {
  padding: 0;
  margin-bottom: 0;
}

.comments .take-part-in-comment {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #999;
  margin-top: 70px;
  margin-bottom: 30px;
}

.comments .comments-body h3 {
  color: #333;
  margin-bottom: 25px;
}
.comments .comments-body ul .parent,
.comments .comments-body ul .child {
  display: flex;
}
.comments .comments-body ul .child {
  padding: 15px;
  margin-top: 15px;
  background-color: rgba(0 0 0 / .05);
  border-radius: 8px;
}

.comments .comments-body ul .child .at {
  color: var(--theme-bak);
  margin-right: 10px;
  font-style: italic;
  font-size: 15px;
  user-select: none;
}
.comments .comments-body ul .child .at:hover {
  text-decoration: underline;
}

.comments .comments-body ul li {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  
}
.comments .comments-body ul li:last-child {
  margin-bottom: 0;
}

.comments .comments-body ul li .user-avatar {
  margin-right: 12px;
}
.comments .comments-body ul li .user-avatar .avatar {
  width: 50px;
  height: 50px;
}
.comments .comments-body ul li .user-avatar .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  vertical-align: middle;
}

.comments .comments-body ul li .user-avatar .change-comment {
  margin-top: 5px;
}
.comments .comments-body ul li .user-avatar .change-comment a {
  display: block;
  width: 100%;
  color: #999;
  background-color: rgba(0 0 0 / .05);
  font-size: 12px;
  padding: 2px 0;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}
.comments .comments-body ul li .user-avatar .change-comment a:hover {
  color: var(--theme-bak);
  background-color: var(--code-bgc);
}


.comments .comments-body ul li .comment-info {
  width: calc(100% - 62px);
}
.comments .comments-body ul li .comment-info .info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 12px;
}

.comments .comments-body ul li .comment-info .info .user {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 60px);
}

.comments .comments-body ul li .comment-info .info .user .user-name {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.comments .comments-body ul li .comment-info .info .user h4 {
  font-size: 15px;
  font-weight: 700;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comments .comments-body ul li .comment-info .info .user .master-name {
  max-width: calc(100% - 50px);
}
.comments .comments-body ul li .comment-info .info .user .comment-user-name {
  max-width: 100%;
}

.comments .comments-body ul li .comment-info .info .user .master {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  /* color: #fff; */
  /* background-color: #333; */
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: 8px;
  user-select: none;
}


.comments .comments-body ul li .comment-info .info .user p,
.comments .comments-body ul li .comment-info .info .user p i {
  font-size: 13px;
  color: #999;
}
.comments .comments-body ul li .comment-info .info .user p i {
  margin-right: 3px;
}
.comments .comments-body ul li .comment-info .info .user .user-ip {
  margin-left: 15px;
}

.comments .comments-body ul li .comment-info .info .reply-btn a {
  display: block;
  color: #999;
  background-color: rgba(0 0 0 / .05);
  border-radius: 4px;
  font-size: 12px;
  padding: 3px 12px;
  user-select: none;
}
.comments .comments-body ul li .comment-info .info .reply-btn a:hover {
  color: var(--theme-bak);
  background-color: var(--code-bgc);
}


.comments .comments-body ul li .comment-info .comment-content {
  margin-bottom: 5px;
}

.comments .comments-body ul li .comment-info .comment-content p {
  font-size: 15px;
  color: #333;
  white-space: pre-wrap;
}
.comments .comments-body ul li .comment-info .comment-content p a {
  font-size: 15px;
  color: var(--theme-bak);
  text-decoration: underline;
}





.comments .comments-body .no-comments {
  width: 100%;
}
.comments .comments-body .no-comment-title {
  margin-bottom: 0;
}
.comments .comments-body .no-comments .no-comment-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments .comments-body .no-comments .no-comment-img img {
  height: 200px;
  width: 200px;
  pointer-events: none;
}
.comments .comments-body .no-comments .no-comment-img p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #ccc;
  user-select: none;
}














.comments .response {
  margin-bottom: 50px;
}
.comments .response h3 {
  color: #333;
  margin-bottom: 25px;
}
.comments .response form {
  position: relative;
}
.comments .response .comment-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comments .response .user-info {
  height: auto;
  max-width: calc(100% - 250px);
  display: flex;
  align-items: center;
}
.comments .response .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 12px;
}
.comments .response .user-info p {
  font-weight: 700;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comments .response .comment-component .comment-btns button {
  display: block;
  color: #999;
  background-color: rgba(0 0 0 / .05);
  border-radius: 6px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 4px 15px;
  user-select: none;
  cursor: pointer;
}
.comments .response .comment-component .comment-btns .submit-comment-btn {
  display: none;
}
.comments .response .comment-component .comment-btns .submit-comment-btn.active {
  display: flex;
}

.comments .response .comment-component .comment-btns .write:hover,
.comments .response .comment-component .comment-btns .submit {
  color: var(--theme-bak);
  background-color: var(--code-bgc);
  margin-left: 10px;
}
.comments .response .comment-component .comment-btns .submit:hover {
  color: #fff;
  background-color: var(--theme);
  text-shadow: 0 0 5px rgba(0 0 0 / .05);
}
.comments .response .comment-component .comment-btns .cancal {
  margin-left: 10px;
  color: #dd2424;
}
.comments .response .comment-component .comment-btns .cancal:hover {
  background-color: #dd24240d;
}

.comments .response .text {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 12px 0 15px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 8px;
  transition: all var(--tr3);
  border: 1px solid #fff;
}
.comments .response .text.active {
  height: 202px;
  padding: 12px 12px 12px 15px;
}
.comments .response .text.focus {
  border: 1px solid var(--scroll);
}

.comments .response .text .pholder {
  display: none;
  height: 20px;
  margin-bottom: 5px;
  color: #999;
  font-size: 14px;
  /* font-style: italic; */
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comments .response textarea {
  position: absolute;
  top: 12px;
  width: calc(100% - 27px);
  height: calc(100% - 24px);
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
  font-family: sans-serif;
  font-size: 15px;
  color: #333;
  resize: none;
  line-height: 1.5;
}
.comments .response textarea.active {
  top: 37px;
  height: calc(100% - 49px);
}

.comments .response textarea::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background: rgba(0 0 0 / .05);
  border-radius: 6px;
}
.comments .response textarea::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 6px;
}

.comments .response .visitor {
  width: 260px;
  position: absolute;
  top: 65px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0 0 0 / .1);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  z-index: 1;
}
.comments .response .visitor.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.comments .response .visitor > input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px dashed transparent;
  outline: 0;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
.comments .response .visitor > input:focus {
  border-bottom: 1px dashed var(--theme-bak);
}
.comments .response .visitor label {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  user-select: none;
}
.comments .response .visitor label input {
  margin-right: 3px;
}

.comments .response .user-info a {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}






.comments .response .comment-component .comment-btns .emoji-btn:hover {
  color: var(--theme-bak);
  background: var(--code-bgc);
}

.comments .response .emoji {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0 0 0 / .1);
  padding: 10px;
  border-radius: 8px;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  z-index: 1;
}
.comments .response .emoji.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.comments .response .emoji .emoji-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  overflow: auto;
  max-height: 163px;
  padding-right: 8px;
}
.comments .response .emoji .emoji-box::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background: rgba(0 0 0 / .05);
  border-radius: 6px;
}
.comments .response .emoji .emoji-box::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 6px;
}

.comments .response .emoji span {
  display: block;
  /* padding: 5px; */
  width: 37px;
  height: 37px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .response .emoji span:hover {
  background-color: var(--code-bgc);
}

.response form > .emoji-btn {
  display: none;
  color: #999;
  background-color: rgba(0 0 0 / .05);
  border-radius: 6px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 15px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}
.response form > .emoji-btn:hover {
  color: var(--theme-bak);
  background: var(--code-bgc);
}






@media screen and (max-width: 700px) {
  .comments .comments-body ul li,
  .comments .comments-body ul .child {
    padding: 10px;
  }
  .comments .comments-body ul .child {
    margin-top: 10px;
  }
  .comments .comments-body ul li .comment-info .info {
    margin-bottom: 4px;
  }
  .comments .comments-body ul li .comment-info .info .user {
    height: auto;
  }
  .comments .comments-body ul li .comment-info .info .user .master-name {
    max-width: calc(100% - 45px);
  }
  .comments .comments-body ul li .comment-info .info .user .user-name {
    margin-bottom: 3px;
  }
  .comments .comments-body ul li .comment-info .info .user h4 {
    font-size: 14px;
  }
  .comments .comments-body ul li .comment-info .info .user .master {
    padding: 0px 4px;
  }
  .comments .comments-body ul li .comment-info .info .user p,
  .comments .comments-body ul li .comment-info .info .user p i {
    font-size: 12px;
  }
  .comments .comments-body ul li .comment-info .info .user p i {
    margin-right: 2px;
  }
  .comments .comments-body ul li .comment-info .info .user .user-ip {
    display: block;
    margin-left: 0;
    margin-top: 2px;
  }

  .comments .comments-body ul li .comment-info .comment-content {
    margin-bottom: 0;
  }
  .comments .comments-body ul li .comment-info .comment-content p,
  .comments .comments-body ul .child .at {
    font-size: 14px;
  }

  .comments .comments-body .no-comments .no-comment-img p {
    font-size: 12px;
  }
  .comments .response .text p {
    margin-bottom: 6px;
  }

  .comments .response .text.active {
    height: 140px;
  }
  .comments .response .comment-component .comment-btns button {
    font-size: 14px;
    padding: 4px 12px;
  }
  .comments .response .comment-component .comment-btns .submit,
  .comments .response .comment-component .comment-btns .cancal {
    margin-left: 8px;
  }
  .comments .response .user-info {
    max-width: calc(100% - 220px);
  }

  .comments .response .emoji {
    padding-right: 6px;
  }
  .comments .response .emoji .emoji-box {
    max-height: 123px;
    padding-right: 6px;
  }
}


@media screen and (max-width: 500px) {
  .comments .response .user-info {
    max-width: calc(100% - 150px);
  }
  .comment-component .emoji-btn {
    display: none !important;
  }
  .response form > .emoji-btn.active {
    display: block;
    font-size: 14px;
    padding: 4px 12px;
  }

  .comments .response .emoji {
    top: 100px;
  }
}







