@font-face {
  font-family: "iconfont"; /* Project id 3878216 */
  src: url('iconfont.woff2?t=1678985733454') format('woff2'),
       url('iconfont.woff?t=1678985733454') format('woff'),
       url('iconfont.ttf?t=1678985733454') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e69b";
}

.icon-chevrons-up:before {
  content: "\e6ac";
}

.icon-chevron-down:before {
  content: "\e6aa";
}

.icon-chevron-left:before {
  content: "\e6a8";
}

.icon-chevron-right:before {
  content: "\e6a9";
}

.icon-message-circle:before {
  content: "\e6c4";
}

.icon-map-pin:before {
  content: "\e6c3";
}

.icon-flag:before {
  content: "\e6b7";
}

.icon-message-square:before {
  content: "\e6c2";
}

.icon-layout:before {
  content: "\e6bf";
}

.icon-log-in:before {
  content: "\e6c1";
}

.icon-file:before {
  content: "\e6b4";
}

.icon-activity:before {
  content: "\e691";
}

.icon-anchor:before {
  content: "\e69a";
}

.icon-loader:before {
  content: "\e6be";
}

.icon-user:before {
  content: "\e6e0";
}

.icon-edit:before {
  content: "\e6b3";
}

.icon-edit-:before {
  content: "\e6bc";
}

.icon-power:before {
  content: "\e6cc";
}

.icon-settings:before {
  content: "\e6d2";
}

.icon-grid:before {
  content: "\e6ba";
}

.icon-menu:before {
  content: "\e6c0";
}

.icon-bookmark:before {
  content: "\e6a1";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-tuitetwitter43:before {
  content: "\e707";
}

.icon-telegram:before {
  content: "\e731";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-Youtube-fill:before {
  content: "\e883";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-github:before {
  content: "\e673";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-arrow-right:before {
  content: "\e699";
}

.icon-clock:before {
  content: "\e6ab";
}

.icon-search:before {
  content: "\e6d1";
}

.icon-home:before {
  content: "\e6bb";
}

.icon-archive:before {
  content: "\e698";
}

.icon-hash:before {
  content: "\e6b9";
}

.icon-link:before {
  content: "\e6bd";
}

.icon-folder:before {
  content: "\e6b6";
}

