*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iemo-recommend-post {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: all .3s;
}
.iemo-recommend-post:hover {
  background-color: #444;
}
.iemo-recommend-post:active {
  background-color: #555;
}


#iemo-recommend-post {
  width: 600px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0 0 0 / .1);
  padding: 50px;
  padding-bottom: 80px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all .3s;
}
#iemo-recommend-post.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
#iemo-recommend-post .form {
  height: 100%;
}
#iemo-recommend-post h2 {
  margin-top: 0;
}
#iemo-recommend-post ul {
  height: calc(100% - 20px);
  overflow: auto;
  padding: 0 10px;
  margin: 20px 0;
}
#iemo-recommend-post ul::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background: rgba(0 0 0 / .1);
  border-radius: 6px;
}
#iemo-recommend-post ul::-webkit-scrollbar-thumb {
  background: rgba(0 0 0 / .3);
  border-radius: 6px;
}

#iemo-recommend-post button,
#iemo-recommend-post .close {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  cursor: pointer;
  user-select: none;
  margin-right: 5px;
  transition: all .3s;
  cursor: pointer;
  user-select: none;
}
#iemo-recommend-post .submit {
  background-color: #333;
  color: #fff;
  margin-left: 10px;
}
#iemo-recommend-post .submit:hover {
  background-color: #444;
  border: 1px solid #444;
}
#iemo-recommend-post .submit:active {
  background-color: #555;
  border: 1px solid #555;
}





.submit.fixed {
  position: fixed;
  top: 50px;
  right: 28px;
  display: block;
  padding: 5px 15px;
  margin: 0;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.submit.fixed:hover {
  background-color: #444;
}
.submit.fixed:active {
  background-color: #555;
}







.success {
  position: fixed;
  top: 70px;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0 0 0 / .1);
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 15px;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  z-index: 9999;
}

.success.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.mask {
  position: fixed;
  width: calc(100% - 160px);
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0 0 0 / .3);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s;
}
.mask.active {
  visibility: visible;
  opacity: 1;
}



.show-menu-icon,
.show-social-icon {
  margin-bottom: 10px !important;
}

.menu-icon p,
.social-icon p {
  display: none;
}






@media screen and (max-width: 960px) {
  .mask {
    width: 100%;
  }
}


@media screen and (max-width: 782px) {
  .iemo-recommend-post {
    padding: 8px 20px;
  }

  #iemo-recommend-post {
    width: 100%;
  }
  .mask,
  .mask.active {
    visibility: hidden;
    opacity: 0;
  }

  .submit.fixed {
    top: 64px;
  }
}


@media screen and (max-width: 600px) {
  #iemo-recommend-post {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .success {
    top: 40px;
  }

  .submit.fixed {
    top: 10px;
    right: 10px;
    font-size: 15px;
  }
}